extends app.pug 

block intro
  h1.namecard-prompt Let's get started 
  a.namecard-submit(href='/cards') Begin!
//- 7. It was one heading with an anchor tag ing the place of the hello templates form.
//- so he just saved the hello template as the index.pug
//- AND THEN replace the block with those elements